h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter {
	text-transform: capitalize;
}
.legenda li{
	display: inline-block;
	padding: 10px;
	border: 1px solid #EEE;
	list-style: none;
}
